{% extends 'index.html' %}

{% block title %}About{% endblock %}

{% block content %}
     <section class="probootstrap-cover">
      <div class="container">
        <div class="row probootstrap-vh-75 align-items-center text-left">
          <div class="col-sm">
            <div class="probootstrap-text pt-5">
              <h1 class="probootstrap-heading text-white mb-4">About Us </h1>
              <div class="probootstrap-subheading mb-5">
                <p class="h4 font-weight-normal" style="line-height: 140%">Free Online MockTests for Imporving your skills <u>StudyInzz</u>
                  <br>->StudyInzz provides you a chance to test your aptitude skills and enhance it.
                  <br>->StudyInzz will provide student a platform to understand,learn,
                    practice, succeed, and master there Aptitude Skills.
                  <br>->StudyInzz will  help Job Seekers prepare to get placement .
                  <br>->StudyInzz consist of important topics from placement point
                    in various sections like Quants,Logical and verbal.
                 </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
