{% extends 'index.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
     <section class="probootstrap-cover">
      <div class="container">
        <div class="row probootstrap-vh-75 align-items-center text-left">
          <div class="col-sm">
            <div class="probootstrap-text pt-5">
              <h1 class="probootstrap-heading text-white mb-4">Contact</h1>
              <div class="probootstrap-subheading mb-5">
                <p class="h4 font-weight-normal">Free Online MockTests for Imporving your skills <u>StudyInzz</u></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="probootstrap-section">
      <div class="container">
        <div class="row">

          <div class="col-md-6 pl-md-5 pl-3">
            <h4 class="mb-5">Contact Details</h4>
            <div class="media mb-5">
              <div class="probootstrap-icon"><span class="icon-location display-4"></span></div>
              <div class="media-body">
                <h5 class="mt-0">Poornima College Of Engineering, ISI - 2, RIICO Institutional Area, Sitapura, JAIPUR<br>302022</h5>
              </div>
            </div>

            <div class="media mb-5">
              <div class="probootstrap-icon"><span class="icon-mail display-4"></span></div>
              <div class="media-body">
                <h5 class="mt-0"> subhamsharma00m@gmail.com</h5>
              </div>
            </div>

            <div class="media mb-5">
              <div class="probootstrap-icon"><span class="icon-phone display-4"></span></div>
              <div class="media-body">
                <h5 class="mt-0">+91 7877337235</h5>
              </div>
            </div>
           
          </div>
        </div>

      </div>
    </section>
{% endblock %}